@import "./variables.css";

@font-face {
  font-family: "Gilam";
  src: url("../fonts/gilam-bold.ttf") format("truetype");
  font-style: normal;
  font-weight: 700;
}

@font-face {
  font-family: "Circe";
  src: url("../fonts/circe.ttf") format("truetype");
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: "Circe";
  src: url("../fonts/Circe-Bold.eot");
  src: local("Circe Bold"), local("Circe-Bold"),
    url("../fonts/Circe-Bold.eot?#iefix") format("embedded-opentype"),
    url("../fonts/Circe-Bold.woff2") format("woff2"),
    url("../fonts/Circe-Bold.woff") format("woff"),
    url("../fonts/Circe-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

/* header */

.header,
.main,
.footer {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.header,
.main__service-section,
.footer {
  background: url(../images/header-bg.jpeg) no-repeat;
  background-attachment: var(--background-attachment);
  background-size: cover;
}

.container {
  max-width: 1460px;
  margin: 0 auto;
}

.header-content {
  display: flex;
  justify-content: space-between;
  font-family: "Circe";
  padding: 37px 0px;
  width: 100%;
}

.header__logo {
  display: flex;
  align-items: center;
}

.header__logo-title {
  color: var(--main-text-color);
  text-transform: uppercase;
  margin-left: 5px;
  font-size: 13px;
  font-weight: 700;
  margin-top: 5px;
}

.header__contact {
  display: flex;
  align-items: center;
  line-height: 30px;
}

.header__contact-number {
  margin-right: 40px;
  color: var(--main-text-color);
  font-size: 19px;
  font-weight: 700;
}

.header__contact-number_part {
  color: #d6af76;
  font-size: 19px;
  margin-right: 5px;
}

.header__contact-button {
  border: 1px solid;
  border-color: var(--buttons-color);
  background-color: transparent;
  display: flex;
  align-items: center;
  padding: 10px 25px;
  cursor: pointer;
}

.header__contact-button_icon {
  margin-right: 8px;
}

.header__contact-button_text {
  font-size: 18px;
  color: #d6af76;
}

.main {
  font-family: "Gilam";
  font-weight: 700;
}

.main__title {
  line-height: 28px;
  font-size: var(--titles-fontsize);
  color: var(--main-text-color);
}

.main__service-section {
  padding-bottom: 190px;
}

.service-section__title {
  margin-top: 92px;
}

.service-section__subtitle {
  font-size: var(--listitems-textsize);
  color: var(--main-text-color);
  margin-top: 41px;
  line-height: 28px;
  width: 1182px;
}

.service-section__service-list {
  color: var(--main-text-color);
  font-size: var(--listitems-textsize);
  line-height: 28px;
  margin-top: 41px;
  display: grid;
  grid-gap: 20px;
  justify-content: center;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(2, 468px);
  grid-template-areas:
    "serviceitem1 serviceitem1 serviceitem2 serviceitem2 serviceitem3 serviceitem3"
    "serviceitem4 serviceitem4 serviceitem4 serviceitem5 serviceitem5 serviceitem5";
}

.service-list__link {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
  height: 100%;
}

.service-grid-item1 {
  grid-area: serviceitem1;
  background-color: #634f2c;
  display: flex;
  justify-content: center;
  align-items: center;
}

.service-grid-item2 {
  grid-area: serviceitem2;
  background-color: #b4a385;
  display: flex;
  justify-content: center;
  align-items: center;
}

.service-grid-item3 {
  grid-area: serviceitem3;
  background-color: #e4b564;
  display: flex;
  justify-content: center;
  align-items: center;
}

.service-grid-item4 {
  grid-area: serviceitem4;
  background-color: #635a4a;
  display: flex;
  justify-content: center;
  align-items: center;
}

.service-grid-item5 {
  grid-area: serviceitem5;
  background-color: #b08c4d;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main__technics-title {
  margin-top: 160px;
}

.main__technics-list {
  color: var(--main-text-color);
  font-size: var(--listitems-textsize);
  line-height: 25px;
  margin-top: 94px;
  display: grid;
  grid-gap: 20px;
  justify-content: left;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(7, 130px);
  grid-template-areas:
    "technicsitem1 technicsitem2 technicsitem5"
    "technicsitem1 technicsitem2 technicsitem5"
    "technicsitem1 technicsitem2 technicsitem6"
    "technicsitem3 technicsitem2 technicsitem6"
    "technicsitem3 technicsitem4 technicsitem6"
    "technicsitem3 technicsitem4 technicsitem7"
    "technicsitem3 technicsitem4 technicsitem7";
}

.technics-list__link {
  display: flex;
  text-align: left;
  width: 100%;
  height: 100%;
  padding: 44px 50px;
}

.technics-grid-item1 {
  grid-area: technicsitem1;
  background-color: #0e0e0e;
}

.technics-grid-item2 {
  grid-area: technicsitem2;
  background-color: #242424;
}

.technics-grid-item3 {
  grid-area: technicsitem3;
  background-color: #242424;
}

.technics-grid-item4 {
  grid-area: technicsitem4;
  background-color: #e4b564;
}

.technics-grid-item5 {
  grid-area: technicsitem5;
  background-color: #242424;
}

.technics-grid-item6 {
  grid-area: technicsitem6;
  background-color: #0e0e0e;
}

.technics-grid-item7 {
  grid-area: technicsitem7;
  background-color: #0a0909;
}

.main__clients-section {
  background: url(../images/parallax-bg.jpeg) no-repeat;
  background-attachment: var(--background-attachment);
  background-size: cover;
}

.clients-section__header {
  display: flex;
  justify-content: space-between;
  margin-top: 160px;
}

.clients-section__header {
  color: var(--main-text-color);
}

.clients-section__button {
  border: 1px solid #e4b564;
  background-color: transparent;
  padding: 10px 40px;
  color: var(--buttons-color);
  line-height: 30px;
  font-size: 18px;
  font-family: "Circe";
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.clients-section__сlients-list {
  display: flex;
  flex-direction: row;
  flex-flow: row wrap;
  margin-top: 70px;
}

.сlients-list__item {
  display: flex;
  flex-basis: 486px;
  min-height: 390px;
  cursor: pointer;
}

.сlients-list__link {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.сlients-list__name {
  margin-top: 15px;
  font-size: 22px;
  line-height: 28px;
  font-family: "Gilam";
  color: var(--main-text-color);
}

.clients-item1 {
  background: #634f2c;
}

.clients-item2 {
  background: #e8d2ab;
}

.clients-item3 {
  background: #e4b564;
}

.clients-item4 {
  background: #635a4a;
}

.clients-item5 {
  background: #b08c4d;
}

.clients-item6 {
  background: #634f2c;
}

.footer {
  padding: 120px;
}
